<div class="route-history-component">
  <div *ngIf="routeHistory; else ghostTemplate" id="route-history-list">
    <div *ngIf="routeHistory.length === 0">
      <div class="route-info-empty">
        <p>No routes to show</p>
      </div>
    </div>
    <div
      *ngFor="let route of routeHistory; let i = index"
      class="route-container"
      [class.removed]="route.removed"
      (transitionend)="transitionEnd($event, i)"
    >
      <div id="route-timestamp" class="row">
        <div class="pull-right">
          <strong>{{ route.timestamp | date: "medium":"+0000" }}</strong>
        </div>
      </div>
      <div class="row">
        <div id="route-source" class="route-info">
          <span class="source-icon">
            <fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon>
          </span>
          {{ route.sourceAddress }}
        </div>

        <div class="ellipsis-icon">
          <fa-icon [icon]="['fas', 'ellipsis-v']"></fa-icon>
        </div>

        <div id="route-destination" class="route-info">
          <span class="destination-icon">
            <fa-icon [icon]="['fas', 'thumbtack']"></fa-icon>
          </span>
          {{ route.destinationAddress }}
        </div>

        <div id="delete-route">
          <button class="btn btn-danger" (click)="deleteRouteHistory(route.id)">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #ghostTemplate>
    <div *ngFor="let num of [1, 2, 3]" class="row">
      <div class="col-xs-7 col-xs-offset-2">
        <div class="route-container">
          <div class="skeleton-lines"></div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
