<div class="fave-route-component">
  <div class="row route-options-selector justify-content-center">
    <div class="col align-self-center">
      <!-- <select
        class="form-control"
        id="selectedRoute"
        [(ngModel)]="selectedRoute"
        (change)="useRoute()"
      >
        <option value="-1">-- Select Routes --</option>
        <option *ngFor="let route of faveRoutes; let i = index" [value]="i">
          {{ route.name }}
        </option>
      </select> -->
      <div class="btn-group">
        <button
          id="selectedRoute"
          type="button"
          class="form-control dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ routeName }} <fa-icon [icon]="['fa', 'caret-down']"></fa-icon>
        </button>

        <ul *ngIf="faveRoutes.length > 0" class="dropdown-menu">
          <li
            id="selectedRoute"
            *ngFor="let route of faveRoutes; let i = index"
            [value]="i"
            (click)="useRoute(i)"
          >
            <a href="#">{{ route.name }}</a>
          </li>
        </ul>

        <ul *ngIf="faveRoutes.length == 0" class="dropdown-menu">
          <li id="selectedRoute" [value]="-1">
            <a href="#">No routes found</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <button
      type="button"
      class="btn btn-success route-button"
      data-toggle="modal"
      data-target="#saveRouteModal"
    >
      Save <fa-icon [icon]="['fa', 'heart']"></fa-icon>
    </button>
    <button
      [class.disabled]="selectedRoute == -1"
      type="button"
      class="btn btn-danger route-button "
      (click)="deleteRoute()"
    >
      Delete <fa-icon [icon]="['fa', 'times']"></fa-icon>
    </button>
  </div>

  <app-save-route-modal
    [sourceString]="sourceString"
    [destString]="destString"
    (labelSubmit)="saveRoute($event)"
  ></app-save-route-modal>
</div>
