.livemap-component {
  margin-top: 6em;
}
img {
  height: 100%;
  width: 100%;
}

agm-map {
  height: 700px;
  z-index: -5;
}

.map-form {
  margin: 2em;
}

.filter-button {
  margin: 1em;
}

.activated {
  background-color: #5cb85c;
  border-color: #5cb85c;
  color: white;
}

.direction-data {
  padding: 0.5em;
  border-radius: 0.25cm 0.25cm 0.25cm 0.25cm;
}

.direction-data-container {
  text-align: center;
  margin: 1em;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.directions {
  border-radius: 4px;
  text-align: center;
  background-color: #fff;
}

#wrapper {
  position: relative;
}

#floating-panel {
  position: absolute;
  top: 2%;
  left: 1%;
  z-index: 5;
  /* background-color: #ddd; */
  padding: 2em;
  /* border-radius: 4px; */
  text-align: center;
  font-family: "Roboto";
  line-height: 30px;
}
