.livemap-component {
  margin-top: 6em;
}
img {
  height: 100%;
  width: 100%;
}

agm-map {
  height: 700px;
}

.map-form {
  margin: 2em;
}

.form-group {
  margin: 1em;
}

.btn {
  margin: 1em;
}

.direction-data {
  border: springgreen;
  border-radius: 0.25cm 0.25cm 0.25cm 0.25cm;
  background-color: #b3ffff;
}

select {
  width: 40%;
}
