.livemap-component {
  margin-top: 6em;
}
img {
  height: 100%;
  width: 100%;
}

agm-map {
  height: 700px;
}

.map-form {
  margin: 2em;
}

.form-group {
  margin: 1em;
}

.fxn-button {
  border-radius: 2cm 2cm 2cm 2cm;
  margin: 1em;
}

.filter-button {
  margin: 1em;
}

.activated {
  background-color: #5cb85c;
  border-color: #5cb85c;
  color: white;
}

.direction-data {
  padding: 0.5em;
  border: springgreen;
  border-radius: 0.25cm 0.25cm 0.25cm 0.25cm;
  background-color: #b3ffff;
}

.direction-data-container {
  text-align: center;
  margin: 1em;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}
