<div class="livemap-component">
  <!-- <img src="../../assets/GoogleMapTA.jpg" /> -->

  <!-- Form for source and destination: Move to another component -->
  <form [formGroup]="directionForm">
    <div class="map-form form-row d-flex justify-content-center">
      <div class="src form-group col-5">
        <label>Enter source:</label>
        <input
          ngx-google-places-autocomplete
          class="form-control"
          type="text"
          id="src"
          formControlName="source"
          (onAddressChange)="sourceAddressChange($event)"
        />
        <button
          *ngIf="currentUser"
          class="btn btn-primary"
          (click)="addHome('source')"
        >
          Home
        </button>
        <button
          *ngIf="currentUser"
          class="btn btn-primary"
          (click)="addWork('source')"
        >
          Work
        </button>
      </div>
      <div class="col-1">
        <button class="btn btn-secondary" (click)="swap()">
          Swap
        </button>
      </div>

      <div class="dest form-group col-5">
        <label>Enter destination:</label>
        <input
          ngx-google-places-autocomplete
          class="form-control"
          type="text"
          id="dest"
          formControlName="destination"
          (onAddressChange)="destinationAddressChange($event)"
        />
        <button
          *ngIf="currentUser"
          class="btn btn-primary"
          (click)="addHome('destination')"
        >
          Home
        </button>
        <button
          *ngIf="currentUser"
          class="btn btn-primary"
          (click)="addWork('destination')"
        >
          Work
        </button>
      </div>
    </div>
  </form>

  <!-- Main map component -->
  <agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    (mapClick)="onMapClick($event)"
    (boundsChange)="mapPositionChange($event)"
  >
    <!-- Source and destination markers -->
    <agm-marker
      *ngIf="source"
      [latitude]="source.lat"
      [longitude]="source.lng"
      [label]="source.label"
      [markerDraggable]="false"
    >
    </agm-marker>
    <agm-marker
      *ngIf="destination"
      [latitude]="destination.lat"
      [longitude]="destination.lng"
      [label]="destination.label"
      [markerDraggable]="false"
    >
    </agm-marker>

    <!-- Report markers -->
    <div
      *ngFor="let marker of reportMarkers; let i = index"
      class="report-markers-component"
    >
      <app-report-markers [marker]="marker" [index]="i"></app-report-markers>
    </div>

    <!-- Ad markers -->
    <div
      *ngFor="let marker of adMarkers; let i = index"
      class="ad-markers-component"
    >
      <app-ad-markers [marker]="marker" [index]="i"></app-ad-markers>
    </div>

    <agm-direction
      *ngIf="sourceData && destData"
      [origin]="sourceData"
      [destination]="destData"
      (onChange)="deleteMarkers($event)"
    ></agm-direction>

    <!-- Current marker clicked -->
    <agm-marker
      *ngIf="currentMarker"
      [latitude]="currentMarker.lat"
      [longitude]="currentMarker.lng"
      [label]="currentMarker.label"
      [markerDraggable]="false"
    >
      <agm-info-window #cwindow>
        <div>
          <strong>Latitude:</strong>
          <span>{{ currentMarker.lat }}</span>
        </div>
        <div>
          <strong>Longitude:</strong>
          <span>{{ currentMarker.lng }}</span>
        </div>
        <div *ngIf="currentUser">
          <!-- Ad button -->
          <button
            *ngIf="currentUser.role == 1"
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#adModal"
          >
            Advertise
          </button>
          <!-- Report button -->
          <button
            type="button"
            class="btn btn-danger"
            data-toggle="modal"
            data-target="#reportModal"
          >
            Report
          </button>
        </div>
      </agm-info-window>
    </agm-marker>
  </agm-map>

  <app-report-modal></app-report-modal>

  <app-ad-modal></app-ad-modal>
</div>
