<div class="report-modal-component">
  <!-- Modal for submitting reports -->
  <div
    class="modal fade"
    id="reportModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="reportModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="reportModalLabel">
            Submit a report
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </h3>
        </div>
        <div class="modal-body">
          <label>Type of report:</label>
          <select
            class="form-control"
            id="reportType"
            [(ngModel)]="selectedOption"
          >
            <option value="0">Traffic Jam</option>
            <option value="1">Heavy Traffic Jam</option>
            <option value="2">Police</option>
            <option value="3">Road Closed</option>
            <option value="4">Stopped Car</option>
            <option value="5">Construction</option>
            <option value="6">Minor Accident</option>
            <option value="7">Major Accident</option>
            <option value="8">Others</option>
          </select>

          <div class="form-group">
            <label>Upload photo:</label>
            <input
              type="file"
              class="form-control-file"
              id="photo"
              (change)="handleFileInput($event)"
            />
          </div>
        </div>
        <div *ngIf="invalidImage" class="alert alert-danger" role="alert">
          File uploaded is not an image
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            (click)="reportSubmit(window)"
          >
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
