<div class="filter-modal-component">
  <!-- Modal for submitting filters -->
  <div
    class="modal fade"
    id="filterModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="filterModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="filterModalLabel">
            Filter<button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </h3>
        </div>

        <div class="modal-body">
          <div id="filter-buttons" class="hidden-xs">
            <div class="row">
              <h3>Report Type</h3>
            </div>
            <div class="row">
              <div
                *ngFor="let choice of btnClicked; let i = index"
                class="text-center col-lg-3 col-md-6 col-sm-6 align-self-center"
              >
                <button
                  class="btn btn-default choice-button-type"
                  [class.activated]="isActive(i)"
                  [class.disabled]="isDisabled()"
                  (click)="onBtnClicked(i)"
                >
                  {{ choice.name }}
                </button>
              </div>
            </div>
            <div class="row">
              <h3>Group</h3>
            </div>
            <div class="row">
              <div class="text-center col-lg-6 col-md-6 col-sm-6">
                <button
                  class="btn btn-secondary choice-button-group"
                  [class.activated]="isGroupActive(0)"
                  (click)="onGroupBtnClicked(0)"
                >
                  Reports
                </button>
              </div>
              <div class="text-center col-lg-6 col-md-6 col-sm-6">
                <button
                  class="btn btn-secondary choice-button-group"
                  [class.activated]="isGroupActive(1)"
                  (click)="onGroupBtnClicked(1)"
                >
                  Advertisements
                </button>
              </div>
            </div>
          </div>

          <div id="filter-checkbox" class="visible-xs-inline-block">
            <div class="row">
              <h3>Report Type</h3>
            </div>
            <div class="row">
              <div
                *ngFor="let choice of btnClicked; let i = index"
                class="col-lg-3 col-md-6 col-sm-6 align-self-center"
              >
                <label>
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    [checked]="isActive(i)"
                    [disabled]="isDisabled() ? 'disabled' : false"
                    (click)="onBtnClicked(i)"
                  />
                  {{ choice.name }}
                </label>
              </div>
            </div>
            <div class="row">
              <h3>Group</h3>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <label>
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    [checked]="isGroupActive(0)"
                    (click)="onGroupBtnClicked(0)"
                  />
                  Reports
                </label>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <label>
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    [checked]="isGroupActive(1)"
                    (click)="onGroupBtnClicked(1)"
                    checked
                  />
                  Advertisements
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            (click)="filterSubmit()"
          >
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
