<div class="filter-modal-component">
  <!-- Modal for submitting filters -->
  <div
    class="modal fade"
    id="filterModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="filterModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="filterModalLabel">
            Filter
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="container">
            <div class="row justify-content-center">
              <h3>Report Type</h3>
            </div>
            <div class="row justify-content-center">
              <div
                *ngFor="let choice of btnClicked; let i = index"
                class="text-center col-lg-3 col-md-4 col-sm-6 align-self-center"
              >
                <button
                  class="btn btn-secondary choice-button-type"
                  [class.active]="isActive(i)"
                  (click)="onBtnClicked(i)"
                >
                  {{ choice.name }}
                </button>
              </div>
            </div>
            <div class="row justify-content-center">
              <h3>Group</h3>
            </div>
            <div class="row justify-content-center">
              <div class="text-center col-lg-3 col-md-4">
                <button
                  class="btn btn-secondary choice-button-group"
                  [class.active]="isGroupActive(0)"
                  (click)="onGroupBtnClicked(0)"
                >
                  Reports
                </button>
              </div>
              <div class="text-center col-lg-3 col-md-4">
                <button
                  class="btn btn-secondary choice-button-group"
                  [class.active]="isGroupActive(1)"
                  (click)="onGroupBtnClicked(1)"
                >
                  Advertisements
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            (click)="filterSubmit()"
          >
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
