.edit-profile-component {
  margin: 12em 0em 0em 0em;
  padding: 2em 2em 2em 2em;
  min-width: 25em;
  text-align: center;
}
.edit-profile-header {
  background-color: #b3ffcf;
  border-radius: 2cm 2cm 0 0;
  padding: 2em 4em 1em 4em;
  text-align: center;
  min-width: 18em;
}

.edit-profile-form {
  padding: 1em 1em 3em 1em;
  min-width: 18em;
  border-radius: 0 0 1cm 1cm;
  border-color: transparent #dddddd #dddddd #dddddd;
  border-style: solid;
  border-width: 1px;
}

.form-group {
  width: auto;
  text-align: left;
}

.role-radios {
  margin: 1em 1em 1em 2em;
}

@media only screen and (min-width: 768px) {
  .edit-profile-container {
    width: 60%;
    display: inline-block;
  }
}
