.navbar {
  background-color: #b3ffcf;
  padding: 1em 4em 1em 4em;
  border-radius: 0 0 1.5cm 1.5cm;
}

.navbar-component {
  padding-left: 5em;
  padding-right: 5em;
}
.navbar-main {
  color: #000;
  text-decoration: none;
  font-size: 1.8em;
}

.navbar-main:hover {
  color: #28e;
}

a:hover {
  color: #ff7bff;
}

.logout-button {
  background: none;
  color: #007bff;
  border: none;
  padding: 0;
  cursor: pointer;
}

.logout-button:hover {
  color: #ff7bff;
}

/* .user-button {
  font-weight: bold;
} */
