.navbar-component {
  padding-left: 5em;
  padding-right: 5em;
}
.navbar-main {
  color: #000;
  text-decoration: none;
  font-size: 1.8em;
}

.navbar-main:hover {
  color: #28e;
}

/* .user-button {
  font-weight: bold;
} */
