.navbar {
  background-color: #b3ffcf;
  padding: 1em;
  min-height: 8%;
}

.navbar-component {
  padding-left: 5em;
  padding-right: 5em;
}

.navbar-brand {
  color: #000;
  text-decoration: none;
  font-size: 1.8em;
}

.navbar-brand:hover {
  color: #28e;
}

.user-button {
  background: none;
  color: #007bff;
  border: none;
  cursor: pointer;
  font-size: 120%;
  /* margin-top: 0.745em; */
}

#user-detail {
  margin-left: 0.5em;
  margin-top: 0.745em;
}

#logout {
  color: #007bff;
  border: none;
}

.user-button:hover {
  color: #ff7bff;
}

@media only screen and (min-width: 768px) {
  .navbar {
    background-color: #b3ffcf;
    padding: 1em 4em 1em 4em;
    border-radius: 0 0 0.75cm 0.75cm;
    z-index: 10;
    min-height: 5%;
  }

  li {
    margin-top: 0.5em;
    padding-right: 1em;
    float: left;
    display: block;
    text-align: center;
  }
}
