.application-list-component {
  margin-top: 7em;
}

.application-main-header {
  margin-bottom: 1em;
  margin-left: 1em;
}

.application-info {
  padding: 1em;
}

.application-border {
  border-style: solid;
  border-width: 1px;
  border-radius: 0.15cm 0.15cm 0.15cm 0.15cm;
}

.empty-list {
  color: #747474;
}

.my-pagination {
  margin-bottom: 4em;
}

.badge-warning {
  background-color: #ffc107;
  color: #212529;
}

.badge-success {
  color: #fff;
  background-color: #28a745;
}

.badge-danger {
  color: #fff;
  background-color: #dc3545;
}

.active {
  border-style: solid;
  border-radius: 0.25cm 0.25cm 0 0;
  background-color: #ededed;
}
