<div class="login-component d-flex justify-content-center ">
  <form>
    <div class="form-row">
      <div class="col-auto">
        <label>Username: </label>
        <input type="text" class="form-control" id="name" />
      </div>
    </div>
    <div class="form-row align-items-center">
      <div class="col-auto">
        <label>Password: </label>
        <input type="password" class="form-control" id="email" />
      </div>
    </div>
    <div class="register-redirect">
      <a routerLink="/register">Register here!</a>
    </div>
    <button type="submit" class="btn btn-primary">Log in</button>
  </form>
</div>
