<form [formGroup]="directionForm" class="form-inline">
  <div class="map-form">
    <div class="row src">
      <div class="form-group col-12">
        <span class="route-endpoint-style-icon">
          <fa-icon
            class="src-icon"
            [icon]="['fas', 'map-marker-alt']"
          ></fa-icon>
        </span>
        <input
          ngx-google-places-autocomplete
          class="form-control"
          type="text"
          id="src"
          formControlName="source"
          placeholder="Enter source"
          title="Source address"
          (onAddressChange)="sourceAddressChange($event)"
        />
        <button
          class="btn fxn-button text-center"
          (click)="swapButtonClicked()"
        >
          <fa-icon [icon]="['fas', 'exchange-alt']" rotate="90"> </fa-icon>
        </button>
        <div class="long-home-work hidden-xs">
          <button
            *ngIf="currentUser && currentUser.home.address != ''"
            class="btn btn-primary btn-hw"
            (click)="homeButtonClicked('source')"
          >
            Home <fa-icon [icon]="['fas', 'home']"></fa-icon>
          </button>
          <button
            *ngIf="currentUser && currentUser.work.address != ''"
            class="btn btn-primary btn-hw"
            (click)="workButtonClicked('source')"
          >
            Work <fa-icon [icon]="['fas', 'briefcase']"></fa-icon>
          </button>
        </div>
        <div class="short-home-work visible-xs-block">
          <button
            *ngIf="currentUser && currentUser.home.address != ''"
            class="btn btn-primary btn-hw"
            (click)="homeButtonClicked('source')"
          >
            <fa-icon [icon]="['fas', 'home']"></fa-icon>
          </button>
          <button
            *ngIf="currentUser && currentUser.work.address != ''"
            class="btn btn-primary btn-hw"
            (click)="workButtonClicked('source')"
          >
            <fa-icon [icon]="['fas', 'briefcase']"></fa-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="row dest">
      <div class="form-group col-12">
        <span class="route-endpoint-style-icon">
          <fa-icon class="dest-icon" [icon]="['fas', 'thumbtack']"></fa-icon>
        </span>

        <input
          ngx-google-places-autocomplete
          class="form-control"
          type="text"
          id="dest"
          formControlName="destination"
          title="Destination address"
          placeholder="Enter destination"
          (onAddressChange)="destinationAddressChange($event)"
        />
        <button
          class="btn fxn-button text-center"
          (click)="currentLocationButtonClicked()"
        >
          <fa-icon [icon]="['fas', 'location-arrow']"> </fa-icon>
        </button>
        <div class="long-home-work hidden-xs">
          <button
            *ngIf="currentUser && currentUser.home.address != ''"
            class="btn btn-primary btn-hw"
            (click)="homeButtonClicked('destination')"
          >
            Home <fa-icon [icon]="['fas', 'home']"></fa-icon>
          </button>
          <button
            *ngIf="currentUser && currentUser.work.address != ''"
            class="btn btn-primary btn-hw"
            (click)="workButtonClicked('destination')"
          >
            Work <fa-icon [icon]="['fas', 'briefcase']"></fa-icon>
          </button>
        </div>
        <div class="short-home-work visible-xs-block">
          <button
            *ngIf="currentUser && currentUser.home.address != ''"
            class="btn btn-primary btn-hw"
            (click)="homeButtonClicked('destination')"
          >
            <fa-icon [icon]="['fas', 'home']"></fa-icon>
          </button>
          <button
            *ngIf="currentUser && currentUser.work.address != ''"
            class="btn btn-primary btn-hw"
            (click)="workButtonClicked('destination')"
          >
            <fa-icon [icon]="['fas', 'briefcase']"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
