<agm-marker
  [latitude]="marker.lat"
  [longitude]="marker.lng"
  [markerDraggable]="false"
  [iconUrl]="icon"
  (markerClick)="toggleInfoWindow(marker.id)"
>
  <agm-info-window #iwindow [isOpen]="isWindowOpen(marker.autoOpen, iwindow)">
    <div *ngIf="markerInfo">
      <div class="container-fluid report-info">
        <div class="report-type-info row">
          <h6 *ngIf="markerInfo.type == 0">Traffic Jam</h6>
          <h6 *ngIf="markerInfo.type == 1">Heavy Traffic Jam</h6>
          <h6 *ngIf="markerInfo.type == 2">Police</h6>
          <h6 *ngIf="markerInfo.type == 3">Road Closed</h6>
          <h6 *ngIf="markerInfo.type == 4">Stopped Car</h6>
          <h6 *ngIf="markerInfo.type == 5">Construction</h6>
          <h6 *ngIf="markerInfo.type == 6">Minor Accident</h6>
          <h6 *ngIf="markerInfo.type == 7">Major Accident</h6>
          <h6 *ngIf="markerInfo.type == 8">Others</h6>
        </div>

        <div *ngIf="imagePath" class="image-block row justify-content-center">
          <img [src]="imagePath" />
        </div>

        <div class="report-user-info row align-self-left">
          Reported by &nbsp;
          <strong>
            <a routerLink="/detail/{{ markerInfo.userId }}">
              {{ markerInfo.userName }}
            </a>
          </strong>
        </div>
        <div class="report-position-info row align-self-left">
          Located at ({{ markerInfo.latitude }},{{ markerInfo.longitude }})
        </div>
      </div>
      <div class="button-group row">
        <div class="comment-button-div col-2">
          <button class="btn" (click)="toggleComments()">
            <fa-icon [icon]="['fa', 'comment']"></fa-icon>
          </button>
        </div>

        <div class="upvote-button-div col">
          <div *ngIf="currentUser; else elseBlock" class="upvote-button">
            <!-- current user hasnt upvoted - give him a chance to do so -->
            <button
              *ngIf="!markerInfo.curUserVoted"
              class="btn"
              (click)="addVote(markerInfo.id, currentUser.id)"
            >
              <fa-icon [icon]="['fa', 'thumbs-up']"></fa-icon>
            </button>

            <!-- current user has upvoted - clicking this will revoke his upvote -->
            <button
              *ngIf="markerInfo.curUserVoted"
              class="btn"
              (click)="deleteVote(markerInfo.id, currentUser.id)"
            >
              <fa-icon
                [icon]="['fa', 'thumbs-up']"
                [styles]="{ color: 'blue' }"
              ></fa-icon>
            </button>
            <label>{{ markerInfo.votes }}</label>
          </div>

          <ng-template #elseBlock>
            <div class="upvote-button">
              <fa-icon [icon]="['fa', 'thumbs-up']"></fa-icon>
              <label>{{ markerInfo.votes }}</label>
            </div>
          </ng-template>
        </div>
      </div>

      <div *ngIf="commentUp" class="comments">
        <div *ngFor="let comment of commentList" class="commentList">
          <div class="comment-data">
            <div class="comment-text">
              {{ comment.body }}
            </div>
            <strong>
              <a routerLink="/detail/{{ comment.userId }}/">
                {{ comment.userName }}
              </a>
            </strong>
          </div>
        </div>
        <form
          *ngIf="currentUser"
          class="form-inline"
          [formGroup]="commentForm"
          (ngSubmit)="onSubmit(commentForm.value)"
        >
          <input
            class="form-control"
            type="text"
            placeholder="Type something..."
            formControlName="body"
          />
          <button type="submit" class="btn btn-primary">Send</button>
        </form>
        <div class="page-buttons row">
          <div class="col-6">
            <button
              *ngIf="pageNum > 0"
              class="btn btn-block btn-secondary"
              (click)="changePage(pageNum - 1)"
            >
              &lt;
            </button>
          </div>
          <div class="col-6">
            <button
              *ngIf="maxPages > pageNum + 1"
              class="btn btn-block btn-secondary"
              (click)="changePage(pageNum + 1)"
            >
              &gt;
            </button>
          </div>
        </div>
      </div>
    </div>
  </agm-info-window>
</agm-marker>
