<agm-marker
  [latitude]="marker.lat"
  [longitude]="marker.lng"
  [markerDraggable]="false"
  [iconUrl]="icon"
  (markerClick)="toggleInfoWindow(marker.id)"
>
  <agm-info-window>
    <div *ngIf="markerInfo">
      <div class="container-fluid report-info">
        <div class="report-type-info row">
          <h6 *ngIf="markerInfo.type == 0">Traffic Jam</h6>
          <h6 *ngIf="markerInfo.type == 1">Heavy Traffic Jam</h6>
          <h6 *ngIf="markerInfo.type == 2">Police</h6>
          <h6 *ngIf="markerInfo.type == 3">Road Closed</h6>
          <h6 *ngIf="markerInfo.type == 4">Stopped Car</h6>
          <h6 *ngIf="markerInfo.type == 5">Construction</h6>
          <h6 *ngIf="markerInfo.type == 6">Minor Accident</h6>
          <h6 *ngIf="markerInfo.type == 7">Major Accident</h6>
        </div>

        <div *ngIf="currentUser; else elseBlock" class="upvote-button">
          <!-- current user hasnt upvoted - give him a chance to do so -->
          <button
            *ngIf="!markerInfo.curUserVoted"
            class="btn"
            (click)="addVote(markerInfo.id, currentUser.id)"
          >
            <fa-icon [icon]="['fa', 'thumbs-up']"></fa-icon>
          </button>

          <!-- current user has upvoted - clicking this will revoke his upvote -->
          <button
            *ngIf="markerInfo.curUserVoted"
            class="btn"
            (click)="deleteVote(markerInfo.id, currentUser.id)"
          >
            <fa-icon
              [icon]="['fa', 'thumbs-up']"
              [styles]="{ color: 'blue' }"
            ></fa-icon>
          </button>
          <label>{{ markerInfo.votes }}</label>
        </div>

        <ng-template #elseBlock>
          <div class="upvote-button">
            <i class="fa fa-thumbs-up"></i>
            <label>{{ markerInfo.votes }}</label>
          </div>
        </ng-template>

        <div class="report-user-info row align-self-left">
          Reported by &nbsp;
          <strong>
            <a routerLink="/detail/{{ markerInfo.userId }}">
              {{ markerInfo.userName }}
            </a>
          </strong>
        </div>
        <div class="report-position-info row align-self-left">
          Located at ({{ markerInfo.latitude }},{{ markerInfo.longitude }})
        </div>
      </div>
    </div>
  </agm-info-window>
</agm-marker>
