.up {
  fill: #00a2ff;
}

.reportmarker {
  background-color: yellow;
}

.commentList {
  margin-left: 1em;
  margin-bottom: 1em;
}

.comment-data {
  display: block;
  background-color: #c7c7c7;
  padding: 0.5em;
  border-radius: 0.25cm;
}
