<div class="user-detail-component row justify-content-center">
  <div *ngIf="user">
    <div
      *ngIf="user.avatarPath; else noImage"
      class="user-image-container col col-md-9 col-sm-9 col-9 col-lg-3 col-xl-3"
    >
      <img class="user-image" [src]="getImagePath()" [alt]="user.name" />
    </div>
    <ng-template #noImage>
      <img
        class="user-image"
        src="../../assets/default-user-profile-image.png"
      />
    </ng-template>
  </div>
  <div class="user-info col col-md-9 col-sm-12 col-12 col-lg-3 col-xl-3">
    <div *ngIf="user">
      <div class="user-name-large">
        <h2>
          {{ user.name }}
          <span *ngIf="user.role != 0"
            ><img class="adstar" src="../../assets/goldstar.png"
          /></span>
        </h2>
      </div>
      <table class="table">
        <tr>
          <td class="user-info-field-name">Email</td>
          <td class="user-info-field-value">{{ user.email }}</td>
        </tr>
        <tr>
          <td class="user-info-field-name">Role</td>
          <td *ngIf="user.role === 0" class="user-info-field-value">
            Regular
          </td>
          <td *ngIf="user.role >= 1" class="user-info-field-value">
            Advertiser
          </td>
        </tr>
        <tr>
          <td class="user-info-field-name">Home</td>
          <td class="user-info-field-value">
            {{ user.home.address }}
          </td>
        </tr>
        <tr>
          <td class="user-info-field-name">Work</td>
          <td class="user-info-field-value">
            {{ user.work.address }}
          </td>
        </tr>
      </table>

      <!-- <div>
        <p class="text-danger">
          <strong>Disclaimer:</strong> In a real app, the home and work
          addresses of users should not be accessible by the public.
        </p>
      </div> -->

      <span *ngIf="currentUser">
        <div *ngIf="user.id == currentUser.id" class="edit-profile">
          <a routerLink="/edit">
            <button class="btn btn-secondary">
              Edit Profile
            </button>
          </a>
        </div>
      </span>
    </div>
  </div>
</div>
