<div class="user-detail-component">
  <div class="row user-details">
    <div class="user-image-container col-3">
      <img
        class="user-image"
        src="../../assets/default-user-profile-image.png"
      />
    </div>

    <div class="user-info col-6">
      <div class="user-name-large">
        <h2>User name here</h2>
      </div>
      <table class="table">
        <tr>
          <td class="user-info-field-name">Email</td>
          <td class="user-info-field-value">email here</td>
        </tr>
        <tr>
          <td class="user-info-field-name">Role</td>
          <td class="user-info-field-value">Regular</td>
        </tr>
      </table>
    </div>
  </div>
</div>
