.user-detail-component {
  margin: 12em 0em 0em 0em;
  min-width: 25em;
}

.user-image-container {
  /* background-color: #d3d3d3; */
  padding: 0em 2em 2em 0em;
}

.user-image {
  height: 250px;
  width: 250px;
  border-style: solid;
  border-color: #9bbab0;
}

/* .user-info {
  margin-top: 1em;
} */

/* .user-name-large {
  margin-bottom: 1em;
} */

.user-info-field-name {
  font-weight: bold;
}

.edit-profile {
  margin-top: 1em;
}
