<div class="user-detail-component row justify-content-center">
  <div
    class="user-image-container col col-md-9 col-sm-9 col-9 col-lg-3 col-xl-3"
  >
    <img class="user-image" src="../../assets/default-user-profile-image.png" />
  </div>
  <div class="user-info col col-md-9 col-sm-12 col-12 col-lg-3 col-xl-3">
    <div class="user-name-large">
      <h2>User name here</h2>
    </div>
    <table class="table">
      <tr>
        <td class="user-info-field-name">Email</td>
        <td class="user-info-field-value">email here</td>
      </tr>
      <tr>
        <td class="user-info-field-name">Role</td>
        <td class="user-info-field-value">Regular</td>
      </tr>
    </table>

    <div class="edit-profile">
      <a routerLink="/edit">
        <button class="btn btn-secondary">
          Edit Profile
        </button>
      </a>
    </div>
  </div>
</div>
