.user-detail-component {
  padding-left: 7em;
  padding-right: 6em;
  margin: 1em;
}

/* .user-image-container {
  background-color: #d3d3d3;
} */

.user-image {
  height: 200px;
  width: 200px;
}

.user-info {
  margin-left: 0.5em;
}

.user-name-large {
  margin-bottom: 1em;
}

.user-info-field-name {
  font-weight: bold;
}
