.save-route-modal {
  min-height: 100%;
}
.modal {
  text-align: center;
  top: 25%;
  overflow-y: auto;
}

.modal:before {
  display: inline-block;
  vertical-align: middle;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

@media only screen and (min-width: 768px) {
  .modal {
    text-align: center;
    top: 20%;
    position: absolute;
  }
}
