<agm-marker
  [latitude]="marker.lat"
  [longitude]="marker.lng"
  [markerDraggable]="false"
  [iconUrl]="icon"
  (markerClick)="toggleInfoWindow(marker.id)"
>
  <agm-info-window>
    <div *ngIf="markerInfo">
      <div class="container-fluid ad-info">
        <div class="row">
          <h6>{{ markerInfo.caption }}</h6>
        </div>
        <img [src]="this.imagePath" />
        <div class="report-user-info row align-self-left">
          by &nbsp;
          <strong>
            <a routerLink="/detail/{{ markerInfo.userId }}">
              {{ markerInfo.userName }}
            </a>
          </strong>
        </div>
        <div class="report-position-info row align-self-left">
          Located at ({{ markerInfo.latitude }},{{ markerInfo.longitude }})
        </div>
      </div>
    </div>
  </agm-info-window>
</agm-marker>
