<div class="register-component row justify-content-center">
  <div class="col col-md-6 col-sm-9 col-9 col-lg-6 col-xl-6">
    <div class="register-header shadow">
      <h2>Register</h2>
    </div>
    <div class="register-form shadow bg-white">
      <form
        [formGroup]="registerForm"
        (ngSubmit)="onSubmit(registerForm.value)"
      >
        <div class="form-group">
          <label>Username: </label>
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
          />
        </div>
        <div
          *ngIf="name.invalid && (name.dirty || name.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="name.errors.required">
            Name is required.
          </div>
        </div>
        <div class="form-group">
          <label>Email address: </label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            aria-describedby="emailHelp"
          />
        </div>
        <div
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="email.errors.required">
            Email is required.
          </div>
        </div>
        <div class="form-group">
          <label>Password: </label>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
          />
        </div>
        <div
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="password.errors.required">
            Password is required.
          </div>
        </div>
        <div class="form-group">
          <label>Confirm password: </label>
          <input
            type="password"
            class="form-control"
            id="confirm-password"
            formControlName="confirm_password"
          />
        </div>
        <div
          *ngIf="
            confirm_password.invalid &&
            (confirm_password.dirty || confirm_password.touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="confirm_password.errors.required">
            Password confirmation is required.
          </div>
        </div>
        <div class="login-redirect">
          <a routerLink="/login">Already a member? Login here!</a>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Sign up</button>
      </form>
    </div>
  </div>
</div>

<!-- <button (click)="getAll()" class="btn btn-primary">Get users</button> -->
